/*
    Document   : layout
    Created on : Sep 10, 2011, 12:15:55 AM
    Author     : Greg Bueno
    Description:
        Uses the Minimalist Design and Sleepy Hollow color schemes from the
	Color Schemer Gallery.
*/

#masthead {
  background-color: #252525;
  background-image: url('../graphics/debut_dark.png');
  ul {
    list-style-type: none;
  }
  #logo {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

#observant-records-logo {
  width: 470px;
}

@mixin navigation-list-item {
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul#nav-social, ul#nav-buy {
  margin-top: 20px;
  padding-left: 0;
  margin-left: 0;
  li {
    @include navigation-list-item;
    margin-left: 6px;
  }
}

#home-slider {
  margin-top: 1em;
}

#content {
  margin-bottom: 1em;
  margin-top: 1em;
}

#footer {
  background-color: #C9C9C9;
  background-image: url('../graphics/white_carbonfiber.png');

  .promo & {
    background-color: transparent;
    background-image: none;
  }
}

#album_player {
  margin: 0 0 1em;
}

iframe {
  margin-bottom: 10px;
}

footer {
  margin-top: 1em;
}

/*
label {
	float: left;
	font-weight: bold;
	width: 150px;
	margin-right: 10px;
}

label.error, span.error {
	color: #F99;
	display: none;
}
*/

.wpcf7-form {
  label {
    width: 100%;
  }

  input[type=text], input[type=password], input[type=email], input[type=url], select, textarea {
    border: 1px solid $dark-red-brown;
    border-radius: 3px;
    padding: 14px 7px;
    margin-bottom: 1.5em;
    width: 100%;
    background-color: $medium-grey;
  }
}

table.track-table {
  border: 1px dotted $dark-red-brown;
  border-collapse: collapse;
  thead {
    th {
      border: 1px dotted #999;
      font-size: 7pt;
      color: #FFF;
      background-color: #333;
    }
  }
  tbody {
    tr:nth-child(2n) td {
      background-color: $light-grey;
    }
    td {
      border: 1px dotted #999;
    }
    td.track-column {
      width: 50px;
    }
    td.play-column {
      width: 20px;
    }
  }
}

.nivoSlider {
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  a {
    border: 0;
    display: block;
  }
}

.wp-block-observant-records-release-list {
  margin-bottom: 1em;
}

.wp-block-image {
  img {
    height: auto;
  }
}

.add-bottom-spacer {
  margin-bottom: 1em;
}

.add-top-spacer {
  margin-top: 1em;
}

.wp-block-observant-records-news-cards {
  margin-bottom: 2em;

  img {
    height: 180px;
    object-fit: cover;
    object-position: center;
    .position-top {
      object-position: top;
    }
    .position-bottom {
      object-position: bottom;
    }
  }
}

.wp-block-observant-records-bio-cards {
  margin-bottom: 2em;

  img {
    height: 240px;
    object-fit: cover;
    object-position: center;
    .position-top {
      object-position: top;
    }
    .position-bottom {
      object-position: bottom;
    }
  }
}

.hero-header {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $light-grey;
  background-blend-mode: multiply;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.25);
  }

  .hero-overlay {
    position: relative;
    color: #FFF;
    a {
      color: #FFF;
    }

    &.jumbotron-blur {
      margin: -4em -2em;
      backdrop-filter: blur(5px);
      padding: 4em 2em;
    }
  }

  .hero-ecommerce-list {
    a {
      color: white;
    }
  }
}

.embed-background {
  background-color: $dark-grey;
  padding-top: 2em;
  padding-bottom: 2em;
}

.sidebar-img-album,
.img-album {
  width: 100%;
}

#newsletter-cta {
  color: white;
  background-color: $dark-grey;
}

.artist-thumbnail {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #observant-records-logo {
    width: 100%;
  }

  #home-slider {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  #nav-header {
    padding: 1em 0 1em 0;
    text-align: left;
  }

  #nav-header {
    ul.links li {
      @include navigation-list-item;
      margin-left: 24px;
    }
  }
}

body {
  .is-layout-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.promo .grecaptcha-badge {
  visibility: hidden;
}

.footer-obrc-logo {
  max-width: 350px;
  width: 100%;
}

@media screen and (max-width: 575px) {
  .footer-obrc-logo {
    padding-bottom: 1.5em;
  }
}

.release-info-container {
  font-size: 90%;
}

.release-about-content,
.artist-about-content {
  font-size: 110%;
}

article {
  &.album, &.artist {
    margin-bottom: 2em;
  }
}