$light-blue: #5483CC;
$dark-blue: #304B75;
$dark-red-brown: #402C29;
$light-grey: #CBCBCB;
$light-grey-2: #C9C9C9;
$medium-grey: #F2F2F2;
$dark-grey: #444444;

$font-base-size: 17px;
$line-height-base: 1.7;

$font-family-serif: "Fira Sans", "Helvetica", "Arial", sans-serif;
$font-family-base: $font-family-serif;

/**
#####  Color Palette by Paletton.com
#####  Palette URL: http://paletton.com/#uid=7060u0kbw827vk98cdLhN7gnl5L


*** Primary color:

   shade 0 = #402C29 = rgb( 64, 44, 41) = rgba( 64, 44, 41,1) = rgb0(0.251,0.173,0.161)
   shade 1 = #A0807B = rgb(160,128,123) = rgba(160,128,123,1) = rgb0(0.627,0.502,0.482)
   shade 2 = #6E5552 = rgb(110, 85, 82) = rgba(110, 85, 82,1) = rgb0(0.431,0.333,0.322)
   shade 3 = #3A1E1A = rgb( 58, 30, 26) = rgba( 58, 30, 26,1) = rgb0(0.227,0.118,0.102)
   shade 4 = #2E110C = rgb( 46, 17, 12) = rgba( 46, 17, 12,1) = rgb0(0.18,0.067,0.047)

*** Secondary color (1):

   shade 0 = #403529 = rgb( 64, 53, 41) = rgba( 64, 53, 41,1) = rgb0(0.251,0.208,0.161)
   shade 1 = #A08E7B = rgb(160,142,123) = rgba(160,142,123,1) = rgb0(0.627,0.557,0.482)
   shade 2 = #6E6052 = rgb(110, 96, 82) = rgba(110, 96, 82,1) = rgb0(0.431,0.376,0.322)
   shade 3 = #3A2A1A = rgb( 58, 42, 26) = rgba( 58, 42, 26,1) = rgb0(0.227,0.165,0.102)
   shade 4 = #2E1D0C = rgb( 46, 29, 12) = rgba( 46, 29, 12,1) = rgb0(0.18,0.114,0.047)

*** Secondary color (2):

   shade 0 = #1A2528 = rgb( 26, 37, 40) = rgba( 26, 37, 40,1) = rgb0(0.102,0.145,0.157)
   shade 1 = #4D5F64 = rgb( 77, 95,100) = rgba( 77, 95,100,1) = rgb0(0.302,0.373,0.392)
   shade 2 = #334044 = rgb( 51, 64, 68) = rgba( 51, 64, 68,1) = rgb0(0.2,0.251,0.267)
   shade 3 = #112024 = rgb( 17, 32, 36) = rgba( 17, 32, 36,1) = rgb0(0.067,0.125,0.141)
   shade 4 = #08181D = rgb(  8, 24, 29) = rgba(  8, 24, 29,1) = rgb0(0.031,0.094,0.114)

*** Complement color:

   shade 0 = #1E2F23 = rgb( 30, 47, 35) = rgba( 30, 47, 35,1) = rgb0(0.118,0.184,0.137)
   shade 1 = #5B7763 = rgb( 91,119, 99) = rgba( 91,119, 99,1) = rgb0(0.357,0.467,0.388)
   shade 2 = #3C5143 = rgb( 60, 81, 67) = rgba( 60, 81, 67,1) = rgb0(0.235,0.318,0.263)
   shade 3 = #132B1A = rgb( 19, 43, 26) = rgba( 19, 43, 26,1) = rgb0(0.075,0.169,0.102)
   shade 4 = #092211 = rgb(  9, 34, 17) = rgba(  9, 34, 17,1) = rgb0(0.035,0.133,0.067)


#####  Generated by Paletton.com (c) 2002-2014

#####  Color Palette by Paletton.com
#####  Palette URL: http://paletton.com/#uid=7000u0k00pu00SO00vw01k20oek


*** Primary color:

   shade 0 = #CBCBCB = rgb(203,203,203) = rgba(203,203,203,1) = rgb0(0.796,0.796,0.796)
   shade 1 = #FFFFFF = rgb(255,255,255) = rgba(255,255,255,1) = rgb0(1,1,1)
   shade 2 = #FBFBFB = rgb(251,251,251) = rgba(251,251,251,1) = rgb0(0.984,0.984,0.984)
   shade 3 = #A0A0A0 = rgb(160,160,160) = rgba(160,160,160,1) = rgb0(0.627,0.627,0.627)
   shade 4 = #727171 = rgb(114,113,113) = rgba(114,113,113,1) = rgb0(0.447,0.443,0.443)

*** Secondary color (1):

   shade 0 = #CBCBCB = rgb(203,203,203) = rgba(203,203,203,1) = rgb0(0.796,0.796,0.796)
   shade 1 = #FFFFFF = rgb(255,255,255) = rgba(255,255,255,1) = rgb0(1,1,1)
   shade 2 = #FBFBFB = rgb(251,251,251) = rgba(251,251,251,1) = rgb0(0.984,0.984,0.984)
   shade 3 = #A0A0A0 = rgb(160,160,160) = rgba(160,160,160,1) = rgb0(0.627,0.627,0.627)
   shade 4 = #727171 = rgb(114,113,113) = rgba(114,113,113,1) = rgb0(0.447,0.443,0.443)

*** Secondary color (2):

   shade 0 = #7A7A7A = rgb(122,122,122) = rgba(122,122,122,1) = rgb0(0.478,0.478,0.478)
   shade 1 = #E5E5E5 = rgb(229,229,229) = rgba(229,229,229,1) = rgb0(0.898,0.898,0.898)
   shade 2 = #979797 = rgb(151,151,151) = rgba(151,151,151,1) = rgb0(0.592,0.592,0.592)
   shade 3 = #606060 = rgb( 96, 96, 96) = rgba( 96, 96, 96,1) = rgb0(0.376,0.376,0.376)
   shade 4 = #444444 = rgb( 68, 68, 68) = rgba( 68, 68, 68,1) = rgb0(0.267,0.267,0.267)

*** Complement color:

   shade 0 = #A2A2A2 = rgb(162,162,162) = rgba(162,162,162,1) = rgb0(0.635,0.635,0.635)
   shade 1 = #F2F2F2 = rgb(242,242,242) = rgba(242,242,242,1) = rgb0(0.949,0.949,0.949)
   shade 2 = #C9C9C9 = rgb(201,201,201) = rgba(201,201,201,1) = rgb0(0.788,0.788,0.788)
   shade 3 = #808080 = rgb(128,128,128) = rgba(128,128,128,1) = rgb0(0.502,0.502,0.502)
   shade 4 = #5A5B5A = rgb( 90, 91, 90) = rgba( 90, 91, 90,1) = rgb0(0.353,0.357,0.353)


#####  Generated by Paletton.com (c) 2002-2014
 */