/*
Theme Name: Observant Records 2020
Author: Greg Bueno
Author URI: http://vigilantmedia.com/
Description: A WordPress theme customized for Observant Records.
Version: 1.6.2
Text Domain: observantrecords2020
*/
@import "_variables";
@import "_layout";
@import "_typography";

.site-info {
  padding-bottom: 1em;
}

.comment-list {
  list-style: none;
  padding-bottom: 1em;
}

.comment-author {
  position: relative;
  .avatar {
    height: 34px;
    top: 2px;
    width: 34px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2px;
    position: absolute;
    left: 0;
  }
}

.comment-author, .comment-awaiting-moderation, .comment-content, .comment-list .reply, .comment-metadata {
  padding-left: 50px;
}

.comments-title {
  padding-bottom: 1em;
}

.says {
  display: none;
}